@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="row justify-content-center">

    <div class="col-xl-5 col-lg-10">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="col-lg-10 mx-auto">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <form method="post" asp-controller="Account" asp-action="Register" class="user">
                            <div class="form-group">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                                <input asp-for="UserName" class="form-control form-control-user" placeholder="Enter User Name">
                            </div>
                            <div class="form-group">
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                                <input asp-for="UserEmail" class="form-control form-control-user" placeholder="Enter Email Address">
                            </div>

                            <div class="form-group">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                <input asp-for="PhoneNumber" class="form-control form-control-user" placeholder="Enter Phone Number">
                            </div>

                            <div class="form-group">
                                <span asp-validation-for="GstInNo" class="text-danger"></span>
                                <input asp-for="GstInNo" class="form-control form-control-user" placeholder="Enter GstIn Number">
                            </div>
                            <div class="form-group">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="Password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" data-ddg-inputtype="credentials.password.current">
                            </div>
                          
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register
                            </button>

                        </form>

                        <div class="text-center mt-3">
                            <a asp-controller="Account" asp-action="Login" class="small">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>