@model ProfileViewModel

@{
    ViewData["Title"] = ViewBag.PageName + " Page";
}

<div class="container-fluid mt-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Profile Information</h1>
        <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="white" height="12" width="12" class="m-1"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" /></svg>
            Back to Profile
        </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="p-4">
                <form method="post" asp-controller="Profile" asp-action="Edit" class="user">
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="GstInDetailId" />
                    <input type="hidden" asp-for="AddressId" />
                    <div class="row mb-4">
                        <div class="col-md-6 gap-4">
                            <h5> User Information</h5>
                            <hr/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="UserName">User Name:</label>
                                <input asp-for="UserName" class="form-control form-control-user" placeholder="Enter User Name">
                            </div>

                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="UserEmail">Email:</label>
                                <input asp-for="UserEmail" class="form-control form-control-user" placeholder="Enter Email">
                            </div>

                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number:</label>
                                <input asp-for="PhoneNumber" class="form-control form-control-user" placeholder="Enter Phone Number">
                            </div>
                  
                            <h5 class="mt-md-4">GstIn Information</h5>
                            <hr/>
                            <span asp-validation-for="GstInNo" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="GstInNo">GstIn Number:</label>
                                <input asp-for="GstInNo" class="form-control form-control-user" placeholder="Enter GstIn Number">
                            </div>

                            <span asp-validation-for="TradeName" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="TradeName">Trade Name:</label>
                                <input asp-for="TradeName" class="form-control form-control-user" placeholder="Enter Trade Name">
                            </div>

                            <span asp-validation-for="LegalName" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="LegalName">Legal Name:</label>
                                <input asp-for="LegalName" class="form-control form-control-user" placeholder="Enter Legal Name">
                            </div>
                        </div>

                        <div class="col-md-6">

                            <h5>Address Information</h5>
                            <hr />

                            <span asp-validation-for="BuildingName" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="BuildingName">Building Name:</label>
                                <input asp-for="BuildingName" class="form-control form-control-user" placeholder="Enter Building Name">
                            </div>

                            <span asp-validation-for="StreetName" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="StreetName">Street Name:</label>
                                <input asp-for="StreetName" class="form-control form-control-user" placeholder="Enter Street Name">
                            </div>

                            <span asp-validation-for="FloorNumber" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="FloorNumber">Floor Number:</label>
                                <input asp-for="FloorNumber" class="form-control form-control-user" placeholder="Enter Floor Number">
                            </div>

                            <span asp-validation-for="UnitNumber" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="UnitNumber">Unit Number:</label>
                                <input asp-for="UnitNumber" class="form-control form-control-user" placeholder="Enter Unit Number">
                            </div>

                            <span asp-validation-for="Locality" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="Locality">Locality:</label>
                                <input asp-for="Locality" class="form-control form-control-user" placeholder="Enter Locality">
                            </div>

                            <span asp-validation-for="City" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="City">City:</label>
                                <input asp-for="City" class="form-control form-control-user" placeholder="Enter City">
                            </div>

                            <span asp-validation-for="District" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="District">District:</label>
                                <input asp-for="District" class="form-control form-control-user" placeholder="Enter District">
                            </div>

                            <span asp-validation-for="State" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="State">State:</label>
                                <input asp-for="State" class="form-control form-control-user" placeholder="Enter State">
                            </div>

                            <span asp-validation-for="Country" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="Country">Country:</label>
                                <input asp-for="Country" class="form-control form-control-user" placeholder="Enter Country">
                            </div>

                            <span asp-validation-for="PostalCode" class="text-danger"></span>

                            <div class="form-group">
                                <label asp-for="PostalCode">Postal Code:</label>
                                <input asp-for="PostalCode" class="form-control form-control-user" placeholder="Enter Postal Code">
                            </div>

                        </div>
                         <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                    </div>
               </form>
          
           </div>
       </div>
    </div>
</div>
